@import url(Card.css);
@import url(alert.css);
@import url(avatar.css);
@import url(Badge1.css);
@import url(Button.css);
@import url(images.css);
@import url(input.css);

body {
    font-family: "comic sans ms";
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: gray;
    font-size: 20px;
    margin: 0px;
    padding: 0px;


}

.doc-nav {
    position: fixed;
    z-index: 2;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    height: 50px;
    width: 100vw;
}

.nav-item {
    text-align: center;
    font-size: 125%;

    padding-left: 2.5%;
    padding-right: 2.5%;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.doc-li {
    font-size: 125%;
    /* border-bottom: 2px solid black; */
}

.doc-main {

    padding-left: 100px;
    margin-left: 100px;
    padding-top: 100px;
}



iframe {
    display: block;
    margin: 20px;
}

.doc-iframe {
    width: 700px;
    height: 450px;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
}