@import url(Card.css);
@import url(alert.css);
@import url(avatar.css);
@import url(Badge1.css);
@import url(Button.css);
@import url(images.css);
@import url(input.css);
@import url(lists.css);
@import url(Navigation.css);
@import url(snackbar.css);
@import url(ratings.css);
@import url(Modal.css);
@import url(txt-utilities.css);
@import url(grids.css);
body {
    font-family: "comic sans ms";
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: gray;
    font-size: 1.25rem;
    margin: 0px;
    padding: 0px;


}

.doc-nav {
    position: fixed;
    z-index: 2;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 0.0625rem solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100vw;
}

.nav-item {
    text-align: center;
    font-size: 100%;
    background-color: lightgray;
    padding-left: 1%;
    padding-right: 1%;
    

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.doc-li {
    font-size: 125%;
    /* border-bottom: 2px solid black; */
}

.doc-main {

    padding-left: 6.25rem;
    margin-left: 6.25rem;
    padding-top: 6.25rem;
}



iframe {
    display: block;
    margin: 1.25rem;
}

.doc-iframe {
    width: 43.75rem;
    height: 28.125rem;
    border: 0.125rem solid black;
    background-color: whitesmoke;
    border-radius: 0.625rem;
}

.iframe-wide{
    width : 51.25rem;
    
}