@import url("/components/Button.css");
body{
    background-color: gray;
    font-family: "comic sans ms";
    
    
}

.modal-container{
    position: fixed;
    left : 30vw;
    top: 30vh;

    background-color: white;
    font-size : 1.25rem;
    display: flex;
    flex-direction : column;
    border : 0.125rem solid black;
    border-radius: 0.625rem;
    height : 12.5rem;
    width: 50rem;
    justify-content: space-between;
}
.modal-header{
    font-size : 1.875rem;
    text-align: center;
}

.modal-footer{
    
display : flex;
justify-content: space-between;
margin : 0.625rem;
margin-bottom : 1.875rem;

}

.yes-btn{
    background-color:rgb(95, 202, 95);
    border: 0.125rem solid black;
}

.no-btn{
    background-color: red;
    border: 0.125rem solid black;
}