@import url(Card.css);
@import url(alert.css);
@import url(avatar.css);
@import url(Badge1.css);
@import url(Button.css);
@import url(images.css);
@import url(input.css);
body{
    font-family: "comic sans ms";
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: gray;
   
   
}
.header{
    display : flex;
    font-size: 3.125rem;
    justify-content: space-between;
    margin : 1.25rem;
    width : 90vw;
    flex-wrap: wrap;
    border-bottom: 0.125rem solid black;
  
    
}
.img-sm{
    width: 6.25rem;
    height : 6.25rem;
    margin-bottom: 0.25rem;
    border : 0.125rem solid black;
    align-self: center;
;
}
a{
    color : black;
}
.img-margin {
    margin : 1.25rem;
}

.main{
    display : flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.125rem;
}
